html {
    font-family: sans-serif;
    margin: 1% 1% 1% 1%;
    background: #fff;
    background: #fff -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e0e0e0), color-stop(100%, #e0e0e0)) fixed;
    background: #fff -o-linear-gradient(#fff, #e0e0e0) fixed;
    background: #fff -ms-linear-gradient(#fff, #e0e0e0) fixed;
    background: #fff linear-gradient(#fff, #e0e0e0) fixed;
    background: #fff -webkit-linear-gradient(#fff, #e0e0e0) fixed;
    background: #fff -moz-linear-gradient(#fff, #e0e0e0) fixed;
}

a {
    color: #3e3f61;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 1px dotted;
}

#progress {
    display: none;
    position: fixed;
    left: 44%;
    top: 44%;
    margin-left: auto;
    margin-right: auto;
    padding: 3% 3% 3% 3%;
    background: #a1b4cc;
    border-style: dotted;
    border-width: 1px;
    border-color: #585989;
    color: #585989;
    font-family: Trebuchet MS, Verdana;
    font-size: 18px;
    box-shadow: 0 0 30px 5px #999;
    -moz-box-shadow: 0 0 30px 5px #999;
    -webkit-box-shadow: 0 0 30px 5px #999;
}

.dim {
    color: #a1b4cc;
}

.filectrl {
    background-color: #fff;
    width: 150px;
}

.tblhead {
    background: grey;
}

.button {
    font-family: Trebuchet MS, Verdana;
    font-size: 16px;
    font-weight: bold;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    border: 1px solid #a1b4cc;
}

.button2 {
    height: 24px;
    font-size: 10px;
    vertical-align: text-top;
}

.btnPressed {
    color: #3e3f61;
    background: none;
    border: 1px dotted #3e3f61;
}

.btnReleased {
    color: white;
    background: #a1b4cc;
    border: 1px solid #a1b4cc;
}

.plot_border {
    border: 1px dotted #7792ba;
}

.hpadding {
    padding-left: 10px;
}

.hpadding_new {
    padding: 0;
    margin: 0;
    width: 0px;
}

.title {
    font-family: Trebuchet MS, Verdana;
    letter-spacing: -0.08em;
    font-size: 36px;
    font-weight: bold;
}

.ctrlval {
    color: navy;
    font-weight: bold;
}

.dense {
    line-height: 80%;
}

.lt {
    color: grey;
}

.bgl {
    background-color: #aaa;
}

.tiny {
    font-family: Trebuchet MS, Verdana;
    font-size: 12px;
}

.text {
    font-family: Trebuchet MS, Verdana;
    font-size: 14px;
    font-weight: normal;
}

.textB {
    font-family: Trebuchet MS, Verdana;
    font-size: 14px;
    font-weight: bold;
}

.title2 {
    font-size: 14px;
    letter-spacing: 0em;
}

.enter {
    width: 8em;
}

li {
    margin: 0.5em 0;
}

button {
    color: #555;
}

ul {
    list-style-type: none;
    padding: 2em;
    margin: 1em;
}

.bar {
    fill: steelblue;
}

.c1 {
    stroke: none;
    fill: #33cc00;
}

.c2 {
    stroke: none;
    fill: #009900;
}

.c3 {
    stroke: none;
    fill: yellow;
}

.c4 {
    stroke: none;
    fill: #cc0000;
}

.c5 {
    stroke: none;
    fill: #0033ff;
}

.c6 {
    stroke: none;
    fill: #6600cc;
}

.c7 {
    stroke: none;
    fill: #0099ff;
}

.c8 {
    stroke: none;
    fill: #666666;
}

.c9 {
    stroke: none;
    fill: #999999;
}

body.clustal .c1 {
    color: purple;
}

body.clustal.c2 {
    color: yellow;
}


.alignmentviewer-title {
    font-family: '微软雅黑', sans-serif;
    font-size: 3em;
}